@model Bank2.ViewModels.StartPageViewModel

@{

    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{

     @Html.TextBoxFor(m=>m.q)
    //@Html.TextBox("q")        
}


<ul>
    @foreach (var user in Model.Users)
    {
    <li>
        @Html.ActionLink(linkText: user.Name,
                 actionName: "ShowUser",
                 controllerName: "Bank",
                 routeValues: new { id = user.Id },
                 htmlAttributes: null)

        -

        @Html.ActionLink(linkText: "Edit",
                 actionName: "EditUser",
                 controllerName: "Bank",
                 routeValues: new { id = user.Id },
                 htmlAttributes: null)


    </li>
        }
</ul>