@model Bank2.ViewModels.StartPageViewModel

@{

    ViewBag.Title = "Home Page";
}

<form action="/Home/Search" method="get">
    <input type="text" name="q" />
    <input type="submit" value="search" />
</form>

<ul>
    @foreach (var user in Model.Users)
    {
    <li>
        @Html.ActionLink(linkText: user.Name,
               actionName: "ShowUser",
               controllerName:"Bank",
               routeValues: new { id = user.Id },
               htmlAttributes:null)
    </li>
    }
</ul>